/* ===== [ PAGE CONTAINER ] ===== */
.page_container {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url("assets/images/texture/dark-mosaic.png");
}

.page_container.home {
    height: 100vh;
}

.page_container.calculator {
    height: 100vh;
    justify-content: center;
}